Assignment 1

Q 2-3

In [7]:
name = "Zaryab"
print(f" Hello {name}, would you like to learn some Python today?")

 Hello Zaryab, would you like to learn some Python today?

Q 2-4

In [9]:
name = "Zaryab RAZA khan"
print(name.lower())
print(name.upper())
print(name.title())

zaryab raza khan
ZARYAB RAZA KHAN
Zaryab Raza Khan

Q 2-6

In [13]:
famous_person = "Albert Einstein"
message = "A person who never made a mistake never tried anything new"
print(f" {famous_person} once said {message} ")

 Albert Einstein once said A person who never made a mistake never tried anything new

In [14]:
name = "\t  Zaryab Raza Khan \n"
print("Original name with whitespace:", repr(name))
print("Using lstrip():", repr(name.lstrip()))
print("Using rstrip():", repr(name.rstrip()))
print("Using strip():", repr(name.strip()))

Original name with whitespace: '\t  Zaryab Raza Khan \n'
Using lstrip(): 'Zaryab Raza Khan \n'
Using rstrip(): '\t  Zaryab Raza Khan'
Using strip(): 'Zaryab Raza Khan'

Assignment 2

Q-1

In [1]:
num = int(input("Enter a number : "))
if num%2==0:
    print( f" {num} is even")
else:
    print( f" {num} is odd")

Enter a number :  6

 6 is even

Q-2

In [2]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
if age >= 18:
    print(f" {name} is eligible to vote")
else :
    print(f" {name} is not eligible to vote")

Enter your name:  Zaryab
Enter your age:  26

 Zaryab is eligible to vote

Q-3

In [3]:
num1 = int(input("Enter the first number: "))  
num2 = int(input("Enter the second number: "))  

if num1 > num2:  
    print("The largest number is", num1)  
elif num2 > num1:  
    print("The largest number is", num2)  
else:  
    print("Both numbers are equal.")

Enter the first number:  99
Enter the second number:  100

The largest number is 100

Q-4

In [4]:
num = float(input("Enter a number: "))

if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter a number:  -2

Negative

Q-5

In [5]:
age = int(input("Enter your age: "))

if age < 0:
    print("Invalid age entered.")
elif age <= 12:
    print("Child")
elif age <= 19:
    print("Teenager")
elif age <= 59:
    print("Adult")
else:
    print("Senior Citizen")

Enter your age:  24

Adult

Q-6

In [6]:
days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

num = int(input("Enter a number (1-7): "))

if 1 <= num <= 7:
    print(f" The day is {days[num - 1]}")
else:
    print("Error: Please enter a number between 1 and 7.")

Enter a number (1-7):  6

 The day is Friday

Q-7

In [7]:
weight = float(input("Enter your weight in kg: "))
height = float(input("Enter your height in meters: "))

bmi = weight / (height * height)

print("Your BMI is:", round(bmi, 2))  # Round BMI to 2 decimal places

if bmi < 18.5:
    print("Category: Underweight")
elif bmi < 25:
    print("Category: Normal weight")
elif bmi < 30:
    print("Category: Overweight")
else:
    print("Category: Obesity")

Enter your weight in kg:  63
Enter your height in meters:  1.778

Your BMI is: 19.93
Category: Normal weight

Q-8

In [8]:
name = input("Enter student name: ")
subject1 = float(input("Enter marks for Subject 1: "))
subject2 = float(input("Enter marks for Subject 2: "))
subject3 = float(input("Enter marks for Subject 3: "))

total_marks = 300  # Assuming each subject is out of 100 marks
obtained_marks = subject1 + subject2 + subject3
average = obtained_marks / 3

grades = ["F", "D", "C", "B", "A"]

if average >= 90:
    grade = grades[4]
elif average >= 80:
    grade = grades[3]
elif average >= 70:
    grade = grades[2]
elif average >= 60:
    grade = grades[1]
else:
    grade = grades[0]

# Printing Report Card
print("\n" + "=" * 40)
print("              REPORT CARD              ")
print("=" * 40)
print("Student Name: ", name)
print("-" * 40)
print("{:<20} {:<10} {:<10}".format("Subject", "Marks", "Total"))
print("-" * 40)
print("{:<20} {:<10} {:<10}".format("Subject 1", subject1, "100"))
print("{:<20} {:<10} {:<10}".format("Subject 2", subject2, "100"))
print("{:<20} {:<10} {:<10}".format("Subject 3", subject3, "100"))
print("-" * 40)
print("{:<20} {:<10} {:<10}".format("Total", obtained_marks, total_marks))
print("{:<20} {:<10}".format("Average Marks", round(average, 2)))
print("{:<20} {:<10}".format("Grade", grade))
print("=" * 40)

Enter student name:  Zaryab Raza Khan
Enter marks for Subject 1:  65
Enter marks for Subject 2:  90
Enter marks for Subject 3:  73

========================================
              REPORT CARD
========================================
Student Name:  Zaryab Raza Khan
----------------------------------------
Subject              Marks      Total
----------------------------------------
Subject 1            65.0       100
Subject 2            90.0       100
Subject 3            73.0       100
----------------------------------------
Total                228.0      300
Average Marks        76.0
Grade                C
========================================

Q-9

In [1]:
import math as m

a = float(input("Enter coefficient a (a ≠ 0): "))
b = float(input("Enter coefficient b: "))
c = float(input("Enter constant c: "))

discriminant = b ** 2 - 4 * a * c

print("\nQuadratic Equation: {}x² + {}x + {} = 0".format(a, b, c))
print("Discriminant (Δ) =", discriminant)

if discriminant > 0:
    root1 = (-b + m.sqrt(discriminant)) / (2 * a)
    root2 = (-b - m.sqrt(discriminant)) / (2 * a)
    print("The equation has two real and distinct roots:")
    print("Root 1 =", root1)
    print("Root 2 =", root2)

elif discriminant == 0:
    root = -b / (2 * a)
    print("The equation has two equal (real and repeated) roots:")
    print("Root =", root)

else:
    real_part = -b / (2 * a)
    imaginary_part = m.sqrt(abs(discriminant)) / (2 * a)
    print("The equation has two complex roots:")
    print("Root 1 =", real_part, "+", imaginary_part, "i")
    print("Root 2 =", real_part, "-", imaginary_part, "i")

Enter coefficient a (a ≠ 0):  1
Enter coefficient b:  1
Enter constant c:  1

Quadratic Equation: 1.0x² + 1.0x + 1.0 = 0
Discriminant (Δ) = -3.0
The equation has two complex roots:
Root 1 = -0.5 + 0.8660254037844386 i
Root 2 = -0.5 - 0.8660254037844386 i

Q-10

In [2]:
numbers = []
numbers.append(float(input("Enter first number: ")))
numbers.append(float(input("Enter second number: ")))
numbers.append(float(input("Enter third number: ")))

numbers.sort()

print("Numbers in ascending order:", numbers)

Enter first number:  5
Enter second number:  -2
Enter third number:  0

Numbers in ascending order: [-2.0, 0.0, 5.0]

Q-11

In [3]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

largest = max(num1, num2, num3)

print("The largest number is:", largest)

Enter first number:  6
Enter second number:  7
Enter third number:  9

The largest number is: 9

Q-12

In [4]:
char = input("Enter a character: ").lower()

if len(char) == 1 and char.isalpha():
    if char in ['a', 'e', 'i', 'o', 'u']:
        print("The character is a vowel.")
    else:
        print("The character is a consonant.")
else:
    print("Invalid input! Please enter a single alphabetic character.")

Enter a character:  A

The character is a vowel.

Q-13

In [5]:
year = int(input("Enter a year: "))

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print(year, "is a Leap Year.")
        else:
            print(year, "is NOT a Leap Year.")
    else:
        print(year, "is a Leap Year.")
else:
    print(year, "is NOT a Leap Year.")

Enter a year:  2024

2024 is a Leap Year.

Q-14

In [6]:
calls = int(input("Enter the number of calls: "))

bill = 200  

if calls > 100:
    if calls <= 150:
        bill += (calls - 100) * 0.60  
    elif calls <= 200:
        bill += (50 * 0.60) + (calls - 150) * 0.50  
    else:
        bill += (50 * 0.60) + (50 * 0.50) + (calls - 200) * 0.40  

print("Your total bill is Rs.", bill)

Enter the number of calls:  500

Your total bill is Rs. 375.0